# Exercise 8: Data cleaning

Welcome to Exercise 8!!

This exercise is a more free-form challenge than the previous ones you have completed. What I would like you to do is to demonstrate some of what you have learned in the previous exercises with another data set.

<img src="images/london2012.gif"/>

First, by running the cell below we can display a sample of 25 rows from a CSV file containing records about athletes who competed in the London 2012 Olympics. This is a data set produced summarizing data prepared by the Guardian newspaper originally found [here](https://docs.google.com/spreadsheets/d/1CKSOQcrPDhxniv-V1FVFAo2rVXrguBCOFAsGZ_IwPJo/edit#gid=0).

In [1]:
import pandas as pd
pd.read_csv('https://raw.githubusercontent.com/djcomlab/olympics-graphs/master/london2012-olympics-v3.csv').sample(25)

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze
5944,Mantas Kalnietis,Lithuania,25,195.0,92.0,M,09/06/1986,Basketball,Men's Basketball,NaN,NaN,NaN,NaN
7794,Priscah Jeptoo,Kenya,28,165.0,49.0,F,6/26/1984,Athletics,Women's Marathon,YES,NaN,1,NaN
8031,Riccardo de Luca,Italy,26,187.0,78.0,M,3/22/1986,Modern Pentathlon,Men's Modern Pentathlon,NaN,NaN,NaN,NaN
4913,Kara Kohler,United States of America,21,188.0,82.0,F,1/20/1991,Rowing,Women's Quadruple Sculls,YES,NaN,NaN,0.25
9647,Valentin Verga,Netherlands,22,179.0,84.0,M,10/07/1989,Hockey,Men's Hockey,NaN,NaN,NaN,NaN
2366,Diego Estrada,Mexico,22,180.0,61.0,M,12/19/1989,Athletics,Men's 10;000m,NaN,NaN,NaN,NaN
2560,Edward Araya,Chile,26,176.0,61.0,M,2/14/1986,Athletics,Men's 50km Race Walk,NaN,NaN,NaN,NaN
6565,Mhasin Fadlalla,Sudan,18,158.0,40.0,F,2/20/1994,Swimming,Women's 50m Freestyle,NaN,NaN,NaN,NaN
7017,Natalia Duco,Chile,23,177.0,99.0,F,1/31/1989,Athletics,Women's Shot Put,NaN,NaN,NaN,NaN
10248,Yuki Sato,Japan,25,178.0,60.0,M,11/26/1986,Athletics,Men's 5000m; Men's 10;000m,NaN,NaN,NaN,NaN
10375,Zhiwei Wang,People's Republic of China,24,178.0,75.0,M,7/18/1988,Shooting,Men's 50m Pistol,YES,NaN,NaN,1.00
4143,James Charles Huckle,Great Britain,21,168.0,60.0,M,9/17/1990,Shooting,Men's 10m Air Rifle; Men's 50m Rifle Prone; Me...,NaN,NaN,NaN,NaN
2879,Erol Bilgin,Turkey,25,158.0,62.0,M,2/20/1987,Weightlifting,Men's 62kg,NaN,NaN,NaN,NaN
1179,Aziz Ouhadi,Morocco,28,168.0,72.0,M,7/24/1984,Athletics,Men's 100m; Men's 200m,NaN,NaN,NaN,NaN
3126,Florian REICHSTAEDTER,Austria,32,180.0,71.0,M,07/03/1980,Sailing,Men's 470,NaN,NaN,NaN,NaN
3442,Grigor Dimitrov,Bulgaria,21,190.0,81.0,M,5/16/1991,Tennis,Men's Singles,NaN,NaN,NaN,NaN
7965,Rebecca Soni,United States of America,25,170.0,61.0,F,3/18/1987,Swimming,Women's 100m Breaststroke; Women's 200m Breast...,YES,1.25,1,NaN
330,Alex Wilson,Switzerland,21,182.0,78.0,M,9/19/1990,Athletics,Men's 200m,NaN,NaN,NaN,NaN
1737,Chia-En Lin,Taipei (Chinese Taipei),19,166.0,55.0,F,06/02/1993,Archery,Women's Individual; Women's Team,NaN,NaN,NaN,NaN
5412,Laura Bennett,United States of America,37,175.0,56.0,F,4/25/1975,Triathlon,Women's Triathlon,NaN,NaN,NaN,NaN
9197,Szabolcs Zubai,Hungary,28,193.0,93.0,M,3/31/1984,Handball,Men's Handball,NaN,NaN,NaN,NaN
6429,Matthieu Rosset,France,22,170.0,67.0,M,5/26/1990,Diving,Men's 3m Springboard,NaN,NaN,NaN,NaN
9635,Vaclav Haman,Czech Republic,26,180.0,85.0,M,7/18/1986,Shooting,Men's 10m Air Rifle; Men's 50m Rifle Prone; Me...,NaN,NaN,NaN,NaN
10333,Zachary Payne,Cook Islands,18,168.0,68.0,M,11/18/1993,Swimming,Men's 50m Freestyle,NaN,NaN,NaN,NaN
9934,Willem Coertzen,South Africa,29,186.0,80.0,M,12/30/1982,Athletics,Men's Decathlon,NaN,NaN,NaN,NaN

## The Challenge

By adding your own code in your own Jupyter Notebook cells below (you can add a cell by pressing the `+` button in the toolbar), try and answer some of the following questions about this data set:
* How many rows are in this data set?
* Apply some filtering to remove rows that might be incomplete or have errors. How many rows remain after your filters are applied?
* How many atheletes are in the data set?
* Which athlete competed in the most events?
* How many countries are present in the data set?
* Which country fielded the most athletes?
* Produce a medals table showing which countries gained the most of Gold, Silver and Bronze medals.
* What is the average age, height, and weight for each country's olympic teams?
* As per last question, but by Male and Female athletes.
* Finally, calculate the [Body Mass Index (BMI)](https://en.wikipedia.org/wiki/Body_mass_index) for each athlete in the data set, and display the top 10 rows for male athletes, and again for female athletes.

If you comfortably work out answers for all of these, feel free to add your own analyses!

# Example Answers

Note that I have provided some example answers, but this does not mean there is always a single solution, nor always a "best" solution. How you have come to a solution also comes down to developing your own programming style!

In [2]:
# First, let's get the data into a DataFrame
import numpy as np
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/djcomlab/olympics-graphs/master/london2012-olympics-v3.csv')

### How many rows are in this data set?

In [3]:
# the .shape attribute of a DataFrame returns the dimensions of your table, as a tuple
shape = df.shape
shape

(10422, 13)

In [4]:
'The data set has {rows} rows and {columns} columns'.format(rows=shape[0], columns=shape[1])

'The data set has 10422 rows and 13 columns'

In [5]:
# you can also use the len() function on a DataFrame to get the number of rows
num_rows = len(df)
'The data set has ' + str(num_rows) + ' rows'

'The data set has 10422 rows'

### Apply some filtering to remove rows that might be incomplete or have errors.

In [6]:
# I have assumed if Height and Weight are missing, these rows should be ignored
# We can use the DataFrame function .dropna() that drops rows with no value
filtered_df = df.dropna(subset=['Height (cm)']).dropna(subset=['Weight (kg)'])
filtered_df

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze
0,Elaine,Brazil,29,168.0,64.0,F,11/01/1982,Football,Women's Football,NaN,NaN,NaN,NaN
4,A G Kruger,United States of America,33,193.0,125.0,M,2/18/1979,Athletics,Men's Hammer Throw,NaN,NaN,NaN,NaN
5,A Lam Shin,Republic of Korea,25,167.0,57.0,F,9/23/1986,Fencing,Women's Individual Epee; Women's Team Epee,YES,NaN,0.5,NaN
6,Aaron Brown,Canada,20,198.0,79.0,M,5/27/1992,Athletics,Men's 200m,NaN,NaN,NaN,NaN
7,Aaron Sarmiento,Spain,25,180.0,72.0,M,8/26/1986,Sailing,Men's 470,NaN,NaN,NaN,NaN
8,Aaron Younger,Australia,20,193.0,100.0,M,9/25/1991,Water Polo,Men's Water Polo,NaN,NaN,NaN,NaN
9,Aauri Lorena Bokesa,Spain,23,183.0,71.0,F,12/14/1988,Athletics,Women's 400m,NaN,NaN,NaN,NaN
12,Abby Bishop,Australia,23,189.0,85.0,F,11/29/1988,Basketball,Women's Basketball,NaN,NaN,NaN,NaN
13,Abby Wambach,United States of America,32,178.0,81.0,F,06/02/1980,Football,Women's Football,YES,0.09,NaN,NaN
14,Abdalaati Iguider,Morocco,25,173.0,57.0,M,3/25/1987,Athletics,Men's 1500m; Men's 5000m,YES,NaN,NaN,1.0
16,Abdelatif Noussir,Morocco,22,174.0,70.0,M,2/20/1990,Football,Men's Football,NaN,NaN,NaN,NaN
17,Abdelaziz Barrada,Morocco,23,180.0,74.0,M,6/19/1989,Football,Men's Football,NaN,NaN,NaN,NaN
18,Abdelaziz Merzougui,Spain,20,175.0,62.0,M,8/30/1991,Athletics,Men's 3000m Steeplechase,NaN,NaN,NaN,NaN
19,Abdelaziz Sanqour Almazam,United Arab Emirates,23,182.0,63.0,M,05/07/1989,Football,Men's Football,NaN,NaN,NaN,NaN
22,Abdelhamid El Kaoutari,Morocco,22,178.0,72.0,M,3/17/1990,Football,Men's Football,NaN,NaN,NaN,NaN
25,Abdellatif Meftah,France,30,173.0,59.0,M,01/03/1982,Athletics,Men's Marathon,NaN,NaN,NaN,NaN
27,Abdelrahman Eltrabily,Egypt,22,190.0,120.0,M,09/07/1989,Wrestling,Men's 120kg Greco-Roman,NaN,NaN,NaN,NaN
28,Abderrahime Bouramdane,Morocco,34,170.0,58.0,M,01/01/1978,Athletics,Men's Marathon,NaN,NaN,NaN,NaN
30,Abdihakem Abdirahman,United States of America,35,180.0,61.0,M,01/01/1977,Athletics,Men's Marathon,NaN,NaN,NaN,NaN
31,Abdou Omar Abdou Ahmed,Egypt,23,172.0,66.0,M,2/22/1989,Wrestling,Men's 66kg Freestyle,NaN,NaN,NaN,NaN
32,Abdoulaye Ba,Senegal,21,197.0,79.0,M,01/01/1991,Football,Men's Football,NaN,NaN,NaN,NaN
33,Abdoulaye Sane,Senegal,19,177.0,73.0,M,8/15/1992,Football,Men's Football,NaN,NaN,NaN,NaN
35,Abdouraim Haroun,Chad,20,174.0,72.0,M,04/12/1992,Athletics,Men's 100m,NaN,NaN,NaN,NaN
36,Abdul Buhari,Great Britain,30,192.0,125.0,M,6/26/1982,Athletics,Men's Discus Throw,NaN,NaN,NaN,NaN
38,Abdulaziz Hussain Al Balooshi,United Arab Emirates,21,178.0,66.0,M,09/10/1990,Football,Men's Football,NaN,NaN,NaN,NaN
40,Abdulkhakim Shapiyev,Kazakhstan,28,174.0,74.0,M,12/04/1983,Wrestling,Men's 74kg Freestyle,NaN,NaN,NaN,NaN
42,Abdullah Alrashidi,Kuwait,48,180.0,95.0,M,8/21/1963,Shooting,Men's Skeet,NaN,NaN,NaN,NaN
44,Abdusalam Gadisov,Russian Federation,23,178.0,84.0,M,3/26/1989,Wrestling,Men's 96kg Freestyle,NaN,NaN,NaN,NaN
45,Abeba Aregawi,Ethiopia,22,170.0,52.0,F,07/05/1990,Athletics,Women's 1500m,NaN,NaN,NaN,NaN
46,Abel Hernandez,Uruguay,21,185.0,73.0,M,08/08/1990,Football,Men's Football,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10388,Zinaida Sendriute,Lithuania,27,188.0,94.0,F,12/20/1984,Athletics,Women's Discus Throw,NaN,NaN,NaN,NaN
10390,Ziva Dvorsak,Slovenia,21,168.0,70.0,F,07/09/1991,Shooting,Women's 10m Air Rifle; Women's 50m Rifle 3 Pos...,NaN,NaN,NaN,NaN
10391,Zivko Gocic,Serbia,29,192.0,107.0,M,8/22/1982,Water Polo,Men's Water Polo,NaN,NaN,NaN,NaN
10392,Ziwei Jin,People's Republic of China,26,183.0,75.0,F,10/17/1985,Rowing,Women's Quadruple Sculls,NaN,NaN,NaN,NaN
10393,Zlatko Horvat,Croatia,27,180.0,87.0,M,9/25/1984,Handball,Men's Handball,NaN,NaN,NaN,NaN
10394,Zoe Buckman,Australia,23,168.0,50.0,F,12/21/1988,Athletics,Women's 1500m,NaN,NaN,NaN,NaN
10395,Zoe Smith,Great Britain,18,159.0,58.0,F,4/26/1994,Weightlifting,Women's 58kg,NaN,NaN,NaN,NaN
10396,Zoe van der Weel,Great Britain,21,161.0,61.0,F,11/14/1990,Handball,Women's Handball,NaN,NaN,NaN,NaN
10397,Zofia Noceti-Klepacka,Poland,26,170.0,59.0,F,4/26/1986,Sailing,Women's RS-X,YES,NaN,NaN,1.0
10398,Zohar Zemiro,Israel,35,171.0,57.0,M,6/15/1977,Athletics,Men's Marathon,NaN,NaN,NaN,NaN
10399,Zohra Bensalem,Algeria,22,178.0,68.0,F,04/05/1990,Volleyball,Women's Volleyball,NaN,NaN,NaN,NaN
10402,Zoltan Kammerer,Hungary,34,180.0,81.0,M,03/10/1978,Canoe Sprint,Men's Kayak Four (K4) 1000m,YES,NaN,0.25,NaN
10403,Zongliang Tan,People's Republic of China,40,179.0,86.0,M,10/29/1971,Shooting,Men's 10m Air Pistol,NaN,NaN,NaN,NaN
10404,Zoran Primorac,Croatia,43,185.0,84.0,M,05/10/1969,Table Tennis,Men's Singles,NaN,NaN,NaN,NaN
10405,Zorana Arunovic,Serbia,25,168.0,85.0,F,11/22/1986,Shooting,Women's 10m Air Pistol; Women's 25m Pistol,NaN,NaN,NaN,NaN
10406,Zouhair Feddal,Morocco,23,188.0,78.0,M,01/01/1989,Football,Men's Football,NaN,NaN,NaN,NaN
10408,Zsofia Balazs,Canada,22,168.0,58.0,F,07/04/1990,Swimming,Women's 10km Marathon,NaN,NaN,NaN,NaN
10409,Zsofia Csonka,Hungary,28,164.0,83.0,F,09/12/1983,Shooting,Women's 10m Air Pistol; Women's 25m Pistol,NaN,NaN,NaN,NaN
10410,Zsofia Kovacs,Hungary,24,180.0,60.0,F,02/07/1988,Triathlon,Women's Triathlon,NaN,NaN,NaN,NaN
10411,Zsolt Hirling,Hungary,28,180.0,70.0,M,5/28/1984,Rowing,Men's Lightweight Double Sculls,NaN,NaN,NaN,NaN
10412,Zsombor Berecz,Hungary,26,195.0,85.0,M,4/26/1986,Sailing,Men's Laser,NaN,NaN,NaN,NaN
10413,Zsuzsanna Francia,United States of America,29,188.0,79.0,F,11/08/1982,Rowing,Women's Eight,YES,0.111,NaN,NaN
10414,Zsuzsanna Jakabos,Hungary,23,185.0,69.0,F,04/03/1989,Swimming,Women's 200m Butterfly; Women's 400m Individua...,NaN,NaN,NaN,NaN
10415,Zulfiya Chinshanlo,Kazakhstan,19,155.0,53.0,F,7/25/1993,Weightlifting,Women's 53kg,YES,1,NaN,NaN
10416,Zuo Chen,People's Republic of China,30,186.0,79.0,M,1/19/1982,Swimming,Men's 4x100m Freestyle Relay,NaN,NaN,NaN,NaN
10417,Zurabi Datunashvili,Georgia,21,183.0,74.0,M,6/18/1991,Wrestling,Men's 74kg Greco-Roman,NaN,NaN,NaN,NaN
10418,Zurine Rodriguez,Spain,30,154.0,49.0,F,5/21/1982,Triathlon,Women's Triathlon,NaN,NaN,NaN,NaN
10419,Zuzana Bergrova,Czech Republic,27,175.0,64.0,F,11/24/1984,Athletics,Women's 4 x 400m Relay,NaN,NaN,NaN,NaN
10420,Zuzana Hejnova,Czech Republic,25,173.0,62.0,F,12/19/1986,Athletics,Women's 400m Hurdles; Women's 4 x 400m Relay,YES,NaN,NaN,1.0
10421,Zuzana Stefecekova,Slovakia,28,166.0,72.0,F,1/15/1984,Shooting,Women's Trap,YES,NaN,1,NaN

### How many rows remain after your filters are applied?

In [7]:
num_filtered_rows = len(filtered_df)
print('There are ' + str(num_filtered_rows) + ' rows after filtering.')
print('The filtering removed '+ str(num_rows - num_filtered_rows) + ' rows from the original data set.')

There are 9070 rows after filtering.
The filtering removed 1352 rows from the original data set.

### How many atheletes are in the data set?

In [8]:
# To answer this, we need to count the unique number of athlete names, as some may have 
# competed in multiple events
len(filtered_df['Name'].drop_duplicates())

9054

In [9]:
filtered_df['Name'].duplicated(keep=False)

0        False
4        False
5        False
6        False
7        False
8        False
9        False
12       False
13       False
14       False
16       False
17       False
18       False
19       False
22       False
25       False
27       False
28       False
30       False
31       False
32       False
33       False
35       False
36       False
38       False
40       False
42       False
44       False
45       False
46       False
         ...
10388    False
10390    False
10391    False
10392    False
10393    False
10394    False
10395    False
10396    False
10397    False
10398    False
10399    False
10402    False
10403    False
10404    False
10405    False
10406    False
10408    False
10409    False
10410    False
10411    False
10412    False
10413    False
10414    False
10415    False
10416    False
10417    False
10418    False
10419    False
10420    False
10421    False
Name: Name, Length: 9070, dtype: bool

In [10]:
# We can also return the duplicated rows, just to prove there are some athlete names in 
# multiple events
filtered_df[filtered_df['Name'].duplicated(keep=False)]

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze
856,Anna Meares,Australia,28,165.0,72.0,F,9/21/1983,Cycling - Track,Women's Sprint; Women's Keirin; Women's Team S...,YES,1,NaN,0.5
866,Anna Meares,Australia,28,165.0,72.0,F,21/09/1983,Cycling,Women's Sprint; Women's Keirin; Women's Team S...,YES,1,NaN,NaN
905,Annette Edmondson,Australia,20,171.0,65.0,F,12/12/1991,Cycling - Track,Women's Omnium; Women's Team Pursuit,NaN,NaN,NaN,NaN
906,Annette Edmondson,Australia,20,171.0,65.0,F,12/12/1991,Cycling,Women's Omnium; Women's Team Pursuit,YES,NaN,NaN,1.0
3573,Hao Wang,People's Republic of China,19,156.0,50.0,F,12/26/1992,Diving,Women's Synchronised 10m Platform,YES,0.5,1,NaN
3574,Hao Wang,People's Republic of China,28,175.0,78.0,M,12/15/1983,Table Tennis,Men's Singles; Men's Team,YES,0.5,NaN,NaN
4044,Ivan Zaytsev,Uzbekistan,23,190.0,90.0,M,11/07/1988,Athletics,Men's Javelin Throw,NaN,NaN,NaN,NaN
4045,Ivan Zaytsev,Italy,23,202.0,92.0,M,10/02/1988,Volleyball,Men's Volleyball,NaN,NaN,NaN,NaN
5498,Lei Zhang,People's Republic of China,31,178.0,80.0,M,04/04/1981,Cycling - Track,Men's Sprint; Men's Team Sprint,NaN,NaN,NaN,NaN
5499,Lei Zhang,People's Republic of China,24,171.0,65.0,F,05/09/1988,Water Polo,Women's Water Polo,NaN,NaN,NaN,NaN
5500,Lei Zhang,People's Republic of China,27,181.0,71.0,F,01/11/1985,Volleyball,Women's Volleyball,NaN,NaN,NaN,NaN
5607,Ling Li,People's Republic of China,27,181.0,110.0,F,02/07/1985,Athletics,Women's Shot Put,NaN,NaN,NaN,NaN
5608,Ling Li,People's Republic of China,23,180.0,59.0,F,07/06/1989,Athletics,Women's Pole Vault,NaN,NaN,NaN,NaN
5609,Ling Li,People's Republic of China,26,168.0,60.0,F,3/14/1986,Sailing,Women's RS-X,NaN,NaN,NaN,NaN
6938,Na Li,People's Republic of China,31,177.0,67.0,F,03/09/1981,Fencing,Women's Individual Epee; Women's Team Epee,YES,0.5,NaN,NaN
6939,Na Li,People's Republic of China,30,172.0,67.0,F,2/26/1982,Tennis,Women's Singles; Women's Doubles,NaN,NaN,NaN,NaN
7803,Qian Chen,People's Republic of China,25,163.0,54.0,F,1/14/1987,Modern Pentathlon,Women's Modern Pentathlon,NaN,NaN,NaN,NaN
7804,Qian Chen,People's Republic of China,19,175.0,58.0,F,4/16/1993,Swimming,Women's 4x200m Freestyle Relay,NaN,NaN,NaN,NaN
8028,Ricardo Santos,Brazil,37,200.0,107.0,M,01/06/1975,Beach Volleyball,Men's Beach Volleyball,NaN,NaN,NaN,NaN
8029,Ricardo Santos,Brazil,32,183.0,74.0,M,05/08/1980,Sailing,Men's RS-X,NaN,NaN,NaN,NaN
8315,Ryan Bailey,United States of America,23,193.0,98.0,M,4/13/1989,Athletics,Men's 100m; Men's 4 x 100m Relay,NaN,NaN,NaN,NaN
8316,Ryan Bailey,United States of America,36,201.0,111.0,M,8/28/1975,Water Polo,Men's Water Polo,NaN,NaN,NaN,NaN
8320,Ryan Cochrane,Canada,29,178.0,74.0,M,7/24/1983,Canoe Sprint,Men's Kayak Double (K2) 1000m; Men's Kayak Dou...,NaN,NaN,NaN,NaN
8321,Ryan Cochrane,Canada,23,192.0,80.0,M,10/29/1988,Swimming,Men's 400m Freestyle; Men's 1500m Freestyle,YES,NaN,1,NaN
9247,Tamas Varga,Hungary,34,184.0,72.0,M,6/17/1978,Rowing,Men's Lightweight Double Sculls,NaN,NaN,NaN,NaN
9248,Tamas Varga,Hungary,37,201.0,105.0,M,7/14/1975,Water Polo,Men's Water Polo,NaN,NaN,NaN,NaN
9617,Un Hyang Kim,Democratic People's Republic of Korea,20,159.0,51.0,F,10/21/1991,Diving,Women's 10m Platform,NaN,NaN,NaN,NaN
9618,Un Hyang Kim,Democratic People's Republic of Korea,18,168.0,61.0,F,8/26/1993,Football,Women's Football,NaN,NaN,NaN,NaN
10000,Xiaoli Wang,People's Republic of China,23,172.0,66.0,F,6/24/1989,Badminton,Women's Doubles,NaN,NaN,NaN,NaN
10001,Xiaoli Wang,People's Republic of China,30,169.0,70.0,F,05/12/1982,Sailing,Women's 470,NaN,NaN,NaN,NaN

Oh wait! Have you spotted what's wrong here? There are some athletes with the **same name**, but from **different countries**!

For example, there are two athletes named `Ivan Zaytsev`, one from `Uzbekistan` and one from `Italy`.

In [11]:
filtered_df[(filtered_df['Name'] == 'Ivan Zaytsev') & (filtered_df['Age'] == 23)]

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze
4044,Ivan Zaytsev,Uzbekistan,23,190.0,90.0,M,11/07/1988,Athletics,Men's Javelin Throw,NaN,NaN,NaN,NaN
4045,Ivan Zaytsev,Italy,23,202.0,92.0,M,10/02/1988,Volleyball,Men's Volleyball,NaN,NaN,NaN,NaN

In [12]:
filtered_df.Name

0                               Elaine
4                           A G Kruger
5                           A Lam Shin
6                          Aaron Brown
7                      Aaron Sarmiento
8                        Aaron Younger
9                  Aauri Lorena Bokesa
12                         Abby Bishop
13                        Abby Wambach
14                   Abdalaati Iguider
16                   Abdelatif Noussir
17                   Abdelaziz Barrada
18                 Abdelaziz Merzougui
19           Abdelaziz Sanqour Almazam
22              Abdelhamid El Kaoutari
25                   Abdellatif Meftah
27               Abdelrahman Eltrabily
28              Abderrahime Bouramdane
30                Abdihakem Abdirahman
31              Abdou Omar Abdou Ahmed
32                        Abdoulaye Ba
33                      Abdoulaye Sane
35                    Abdouraim Haroun
36                        Abdul Buhari
38       Abdulaziz Hussain Al Balooshi
40                Abdulkhakim Shapiyev
42                  Abdullah Alrashidi
44                   Abdusalam Gadisov
45                       Abeba Aregawi
46                      Abel Hernandez
                     ...
10388                Zinaida Sendriute
10390                     Ziva Dvorsak
10391                      Zivko Gocic
10392                        Ziwei Jin
10393                    Zlatko Horvat
10394                      Zoe Buckman
10395                        Zoe Smith
10396                 Zoe van der Weel
10397            Zofia Noceti-Klepacka
10398                     Zohar Zemiro
10399                   Zohra Bensalem
10402                  Zoltan Kammerer
10403                    Zongliang Tan
10404                   Zoran Primorac
10405                  Zorana Arunovic
10406                   Zouhair Feddal
10408                    Zsofia Balazs
10409                    Zsofia Csonka
10410                    Zsofia Kovacs
10411                    Zsolt Hirling
10412                   Zsombor Berecz
10413                Zsuzsanna Francia
10414                Zsuzsanna Jakabos
10415               Zulfiya Chinshanlo
10416                         Zuo Chen
10417              Zurabi Datunashvili
10418                 Zurine Rodriguez
10419                  Zuzana Bergrova
10420                   Zuzana Hejnova
10421               Zuzana Stefecekova
Name: Name, Length: 9070, dtype: object

To complicate things, there are also athletes with the **same name**, from the **same country**, but of **different ages**! Take a look at athlete `Ryan Cochrane`'s rows.

In [13]:
filtered_df[filtered_df['Name'] == 'Ryan Cochrane']

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze
8320,Ryan Cochrane,Canada,29,178.0,74.0,M,7/24/1983,Canoe Sprint,Men's Kayak Double (K2) 1000m; Men's Kayak Dou...,NaN,NaN,NaN,NaN
8321,Ryan Cochrane,Canada,23,192.0,80.0,M,10/29/1988,Swimming,Men's 400m Freestyle; Men's 1500m Freestyle,YES,NaN,1,NaN

To be sure, it is important to select a good field to disambiguate between unique entities in data tables. We can use multiple criteria for identifying duplicates and filtering them out.

In [14]:
filtered_no_dups_df = filtered_df.drop_duplicates(subset=['Name', "Date of birth"])
'We now have {} rows remaining after filtering and dropping duplicate athletes'.format(len(filtered_no_dups_df))

'We now have 9069 rows remaining after filtering and dropping duplicate athletes'

As you can see, the answer to the question "How many atheletes are in the data set?" is not necessarily that straightforward to answer.

### Which athlete competed in the most events?

In [15]:
def count_events(event_string):
    return len(str(event_string).split(';'))
filtered_df['num_events'] = filtered_df['Event'].apply(count_events)

In [16]:
filtered_df.sort_values(by='num_events', ascending=False)

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze,num_events
6778,Missy Franklin,United States of America,17,185.0,75.0,F,05/10/1995,Swimming,Women's 100m Freestyle; Women's 200m Freestyle...,YES,2.5,NaN,0.25,7
6602,Michael Phelps,United States of America,27,193.0,88.0,M,6/30/1985,Swimming,Men's 100m Butterfly; Men's 200m Butterfly; Me...,YES,2.5,1.25,NaN,7
8326,Ryan Lochte,United States of America,28,188.0,88.0,M,08/03/1984,Swimming,Men's 200m Freestyle; Men's 200m Backstroke; M...,YES,1.25,1.25,1.00,6
1679,Chad le Clos,South Africa,20,184.0,76.0,M,04/12/1992,Swimming,Men's 100m Butterfly; Men's 200m Butterfly; Me...,YES,1,1,NaN,6
6763,Mireia Belmonte Garcia,Spain,21,170.0,60.0,F,11/10/1990,Swimming,Women's 400m Freestyle; Women's 800m Freestyle...,YES,NaN,2,NaN,6
8525,Sarah Sjostrom,Sweden,18,186.0,70.0,F,8/17/1993,Swimming,Women's 50m Freestyle; Women's 100m Freestyle;...,NaN,NaN,NaN,NaN,6
5404,Laszlo Cseh,Hungary,26,190.0,84.0,M,12/03/1985,Swimming,Men's 200m Butterfly; Men's 200m Individual Me...,YES,NaN,NaN,1.00,5
10070,Yannick Agnel,France,20,202.0,90.0,M,06/09/1992,Swimming,Men's 100m Freestyle; Men's 200m Freestyle; Me...,YES,1.25,0.25,NaN,5
4296,Jeanette Ottesen Gray,Denmark,24,178.0,71.0,F,12/30/1987,Swimming,Women's 50m Freestyle; Women's 100m Freestyle;...,NaN,NaN,NaN,NaN,5
455,Alicia Coutts,Australia,24,176.0,69.0,F,9/14/1987,Swimming,Women's 100m Butterfly; Women's 200m Individua...,YES,0.25,1.5,1.00,5
7655,Pernille Blume,Denmark,18,171.0,58.0,F,5/14/1994,Swimming,Women's 50m Freestyle; Women's 100m Freestyle;...,NaN,NaN,NaN,NaN,5
9729,Veronika Popova,Russian Federation,21,182.0,65.0,F,1/20/1991,Swimming,Women's 100m Freestyle; Women's 200m Freestyle...,NaN,NaN,NaN,NaN,5
4401,Jessica Hardy,United States of America,25,183.0,69.0,F,03/12/1987,Swimming,Women's 50m Freestyle; Women's 100m Freestyle;...,YES,NaN,NaN,0.25,4
1921,Clement Lefert,France,24,185.0,68.0,M,9/26/1987,Swimming,Men's 100m Butterfly; Men's 4x100m Freestyle R...,YES,0.25,0.25,NaN,4
3582,Haruka Yueda,Japan,24,177.0,68.0,F,27/04/1988,Swimming,Women's 100m Freestyle; Women's 4x100m free re...,YES,NaN,NaN,0.25,4
3145,Francesca Halsall,Great Britain,22,172.0,59.0,F,04/12/1990,Swimming,Women's 50m Freestyle; Women's 100m Freestyle;...,NaN,NaN,NaN,NaN,4
10377,Zhiwu Lu,People's Republic of China,23,182.0,76.0,M,3/18/1989,Swimming,Men's 100m Freestyle; Men's 4x100m Freestyle R...,NaN,NaN,NaN,NaN,4
444,Aliaksandra Herasimenia,Belarus,26,175.0,60.0,F,12/31/1985,Swimming,Women's 50m Freestyle; Women's 100m Freestyle;...,YES,NaN,2,NaN,4
5344,Kylie Palmer,Australia,22,173.0,68.0,F,2/25/1990,Swimming,Women's 200m Freestyle; Women's 400m Freestyle...,YES,NaN,0.25,NaN,4
3245,Ganna Dzerkal,Ukraine,24,171.0,62.0,F,8/18/1987,Swimming,Women's 200m Breaststroke; Women's 200m Indivi...,NaN,NaN,NaN,NaN,4
2905,Eszter Dara,Hungary,22,187.0,67.0,F,5/30/1990,Swimming,Women's 50m Freestyle; Women's 100m Freestyle;...,NaN,NaN,NaN,NaN,4
4790,Julia Wilkinson,Canada,25,178.0,70.0,F,06/12/1987,Swimming,Women's 100m Freestyle; Women's 100m Backstrok...,NaN,NaN,NaN,NaN,4
578,Amy Smith,Great Britain,25,172.0,59.0,F,7/24/1987,Swimming,Women's 50m Freestyle; Women's 100m Freestyle;...,NaN,NaN,NaN,NaN,4
1644,Cate Campbell,Australia,20,186.0,67.0,F,5/20/1992,Swimming,Women's 50m Freestyle; Women's 100m Freestyle;...,YES,0.25,NaN,NaN,4
2935,Eva Risztov,Hungary,26,173.0,64.0,F,8/30/1985,Swimming,Women's 400m Freestyle; Women's 800m Freestyle...,YES,1,NaN,NaN,4
1439,Brent Hayden,Canada,28,193.0,86.0,M,10/21/1983,Swimming,Men's 50m Freestyle; Men's 100m Freestyle; Men...,YES,NaN,NaN,1.00,4
10063,Yang Sun,People's Republic of China,20,198.0,89.0,M,12/01/1991,Swimming,Men's 200m Freestyle; Men's 400m Freestyle; Me...,YES,2,NaN,1.25,4
2950,Evelyn Verraszto,Hungary,23,173.0,62.0,F,7/17/1989,Swimming,Women's 200m Individual Medley; Women's 4x100m...,NaN,NaN,NaN,NaN,4
1471,Britta Steffen,Germany,28,180.0,60.0,F,11/16/1983,Swimming,Women's 50m Freestyle; Women's 100m Freestyle;...,NaN,NaN,NaN,NaN,4
5717,Luca Dotto,Italy,22,190.0,80.0,M,4/18/1990,Swimming,Men's 50m Freestyle; Men's 100m Freestyle; Men...,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,Iain Jensen,Australia,24,186.0,80.0,M,5/23/1988,Sailing,Men's 49er,YES,0.5,NaN,NaN,1
3811,Ibrahim Ramadan Ibrahim,Egypt,24,180.0,77.0,M,02/06/1988,Weightlifting,Men's 77kg,NaN,NaN,NaN,NaN,1
3809,Ibrahim Farag Abdelhakim Mohamed,Egypt,22,165.0,55.0,M,02/05/1990,Wrestling,Men's 55kg Freestyle,NaN,NaN,NaN,NaN,1
3808,Ibrahim Bolukbasi,Turkey,21,186.0,84.0,M,12/01/1990,Wrestling,Men's 84kg Freestyle,NaN,NaN,NaN,NaN,1
3806,Ibrahem Alhasan,Kuwait,25,174.0,85.0,M,8/22/1986,Table Tennis,Men's Singles,NaN,NaN,NaN,NaN,1
3805,Ibragim Aldatov,Ukraine,28,178.0,87.0,M,11/04/1983,Wrestling,Men's 84kg Freestyle,NaN,NaN,NaN,NaN,1
3804,Iaroslav Musinschi,Republic of Moldova,35,182.0,72.0,M,08/08/1976,Athletics,Men's Marathon,NaN,NaN,NaN,NaN,1
3803,Ian Warner,Canada,22,170.0,160.0,M,5/15/1990,Athletics,Men's 4 x 100m Relay,NaN,NaN,NaN,NaN,1
3802,Ian Stannard,Great Britain,25,190.0,80.0,M,5/25/1987,Cycling - Road,Men's Road Race,NaN,NaN,NaN,NaN,1
3800,Ian Hogg,New Zealand,22,180.0,68.0,M,12/15/1989,Football,Men's Football,NaN,NaN,NaN,NaN,1
3799,Ian Haley,South Africa,29,170.0,70.0,M,3/17/1983,Hockey,Men's Hockey,NaN,NaN,NaN,NaN,1
3798,Iain Percy,Great Britain,36,187.0,95.0,M,3/21/1976,Sailing,Men's Star,YES,NaN,0.5,NaN,1
3797,Iain Mackay,Great Britain,27,180.0,75.0,M,4/24/1985,Hockey,Men's Hockey,NaN,NaN,NaN,NaN,1
3796,Iain Lewers,Great Britain,28,183.0,79.0,M,01/05/1984,Hockey,Men's Hockey,NaN,NaN,NaN,NaN,1
3794,I-Chuan Chen,Taipei (Chinese Taipei),21,168.0,56.0,F,1/20/1991,Swimming,Women's 100m Breaststroke,NaN,NaN,NaN,NaN,1
3774,Hyeonwoo Kim,Republic of Korea,23,174.0,66.0,M,11/06/1988,Wrestling,Men's 66kg Greco-Roman,YES,1,NaN,NaN,1
3792,Hyunsung Kim,Republic of Korea,22,186.0,77.0,M,9/27/1989,Football,Men's Football,NaN,NaN,NaN,NaN,1
3790,Hyunsub Kim,Republic of Korea,27,175.0,53.0,M,5/31/1985,Athletics,Men's 20km Race Walk,NaN,NaN,NaN,NaN,1
3788,Hyungjoo Kim,Republic of Korea,27,158.0,48.0,F,09/12/1984,Wrestling,Women's 48kg Freestyle,NaN,NaN,NaN,NaN,1
3787,Hyung Joo Park,Republic of Korea,17,185.0,71.0,M,7/16/1995,Swimming,Men's 200m Backstroke,NaN,NaN,NaN,NaN,1
3786,Hyun Woo Nam,Republic of Korea,25,182.0,80.0,M,7/15/1987,Hockey,Men's Hockey,NaN,NaN,NaN,NaN,1
3785,Hyun Ju Ri,Democratic People's Republic of Korea,16,155.0,45.0,M,2/20/1996,Diving,Men's 10m Platform,NaN,NaN,NaN,NaN,1
3784,Hyun Il Lee,Republic of Korea,32,176.0,67.0,M,4/17/1980,Badminton,Men's Singles,NaN,NaN,NaN,NaN,1
3782,Hyon Hui Yun,Democratic People's Republic of Korea,19,170.0,62.0,F,09/09/1992,Football,Women's Football,NaN,NaN,NaN,NaN,1
3779,Hyobi Jo,Republic of Korea,21,165.0,60.0,F,7/15/1991,Handball,Women's Handball,NaN,NaN,NaN,NaN,1
3778,Hyo-Sook Lim,Republic of Korea,30,178.0,79.0,F,4/26/1982,Volleyball,Women's Volleyball,NaN,NaN,NaN,NaN,1
3777,Hyo-Jin Yang,Republic of Korea,22,190.0,72.0,F,12/14/1989,Volleyball,Women's Volleyball,NaN,NaN,NaN,NaN,1
3776,Hyo Sik You,Republic of Korea,30,170.0,68.0,M,4/13/1982,Hockey,Men's Hockey,NaN,NaN,NaN,NaN,1
3775,Hyleas Fountain,United States of America,31,170.0,64.0,F,1/14/1981,Athletics,Women's Heptathlon,NaN,NaN,NaN,NaN,1
10421,Zuzana Stefecekova,Slovakia,28,166.0,72.0,F,1/15/1984,Shooting,Women's Trap,YES,NaN,1,NaN,1

### How many countries are present in the data set?

In [17]:
# just get the country column, and drop the duplicates and count what is left
# count using the size of the column using NumPy
print(np.size(np.array(filtered_df['Country'].drop_duplicates())))
# use len directly on the DataFrame
print(len(filtered_df['Country'].drop_duplicates()))
# get the first element of the .shape tuple
print(filtered_df['Country'].drop_duplicates().shape[0])

197
197
197

### Which country fielded the most athletes?

In [18]:
# get a Pandas series, grouping rows by Country and getting the size of each group
country_group_sizes = filtered_no_dups_df.groupby('Country').size()
# transfer the Series into a DataFrame, and reset the index
country_group_sizes_df = pd.DataFrame(
    country_group_sizes, columns=['Number of athletes']).reset_index()
# sort by number of athletes and get the top of the sorted DataFrame
country_group_sizes_df.sort_values(by='Number of athletes', ascending=False).head()

                      Country  Number of athletes
187  United States of America                 492
70              Great Britain                 485
10                  Australia                 370
149        Russian Federation                 370
68                    Germany                 361

### Produce a medals table showing which countries gained the most of Gold, Silver and Bronze medals.

In [19]:
# get a Pandas series, grouping rows by Country and getting the size of each group
country_group_medals = filtered_no_dups_df.groupby('Country')[
    'Gold', 'Silver', 'Bronze'].sum().reset_index()
country_group_medals.sort_values(by=['Gold', 'Silver', 'Bronze'], ascending=False).head()

KeyError: 'Gold'

We get this rather lengthy **runtime error** here, saying that it can't find our Gold and Silver columns anymore. 

Why is this? 

It is because when we do the `.sum()` part, Pandas tries to apply this function that only works on numeric values. It may have failed due to non-numeric values being present in the Gold and Silver columns. Let's do some more work to find out:

In [20]:
# check the Gold column incase there's mixed types
np.array(filtered_no_dups_df['Gold'].dropna())

array(['0.09', '1', '1', '0.25', '0.09', '1', '0.25', '1', '1', '1.5',
       '1', '0.25', '0.09', '0.25', '0.33', '0.33', '0.111', '0.25', '1',
       '1', '1', '1', '0.076', '0.33', '1', '1', '1', '1', '1', '1', '1',
       '0.25', '0.076', '1.33', '0.5', '0.33', '1', '0.076', '0.25',
       '0.25', '1', '1', '1', '0.33', '0.09', '0.111', '0.111', '0.25',
       '1', '1.33', '1.33', '1', '0.09', '0.25', '0.25', '1', '1', '1.5',
       '0.33', '1', '1', '1.25', '0.25', '1', '0.2', '1', '0.25', '0.111',
       '1.33', '0.076', '1', '0.111', '0.5', '0.111', '0.111', '0.5', '1',
       '0.25', '1', '0.111', '1', '0.111', '1', '0.5', '0.25', '0.25',
       '0.33', '1', '0.5', '1', '0.5', '0.5', '0.5', '0.076', '0.5',
       '0.5', '1', '0.09', '0.33', '1', '0.5', '1', '1', '0.2', '1',
       '0.25', '1', '0.25', '1', '1', '1.33', '1', '1', '1', '1.5', '1',
       '1', '0.33', '0.25', '0.5', '1', '2', '0.5', '0.5', '0.33', '0.5',
       '0.076', '1', '1', '0.25', '0.25', '0.25', '0.5', '1', '1', '1',
       '0.09', '0.076', '0.5', '1', '1', '1', '0.5', '0.111', '1', '0.25',
       '1', '0.5', '1', '1', 'DUJARDIN', '0.33', '1.33', '0.076', '0.25',
       '1', '1', '1', '0.111', '1', '0.5', '0.076', '1', '1', '0.5', '1',
       '0.33', '1', '1', '0.111', '0.111', '0.5', '0.25', '1.25', '0.33',
       '0.5', '0.5', '0.111', '0.09', '0.111', '0.25', '0.076', '1',
       '2.5', '0.33', '0.5', '1', '1.5', '0.5', '1', '2.5', '0.5', '1',
       '0.25', '0.5', '1', '0.5', '1', '0.25', '1', '1.25', '0.5', '0.5',
       '1', '0.25', '1', '1', '1', '1', '1', '0.25', '0.25', '0.25',
       '0.5', '1', '1.2', '0.33', '0.25', '0.5', '1', '0.09', '2', '0.5',
       '1.25', '0.111', '0.25', '1', '0.5', '1', '1', '0.5', '1.5', '1',
       '1.25', '1', '0.2', '1', '1', '1', '1', '0.25', '1', '0.5', '1',
       '0.09', '0.25', '1', '1', '0.25', '0.5', '1', '0.25', '0.33', '1',
       '1', '1', '1', '0.25', '0.111', '1', '1', '0.5', '0.25', '0.5',
       '1', '0.09', '0.25', '1', '1', '1', '0.076', '1', '1', '1', '2',
       '0.33', '2', '0.5', '0.5', '1', '1', '1', '0.33', '1', '2', '1',
       '1', '0.25', '1', '2', '1.25', '0.5', '0.5', '1', '0.5', '1',
       '0.5', '1', '0.5', '0.5', '0.5', '0.111', '1'], dtype=object)

Ah ha! We find one string value `DUJARDIN` in the Gold column. Luckily for us, Pandas has a utility function called `to_numeric()` to help us fix that. So we apply this function to the Gold column, with the parameter `errors='coerce'` that drops our non-numeric values. We assign that fixed column back to our Gold column on our original DataFrame.

In [21]:
# drop non-numerics and replace the Gold column
fixed_filtered_no_dups_df = filtered_no_dups_df.copy()
fixed_filtered_no_dups_df['Gold'] = pd.to_numeric(
    filtered_no_dups_df['Gold'], errors='coerce')
np.array(fixed_filtered_no_dups_df['Gold'].dropna())

array([0.09 , 1.   , 1.   , 0.25 , 0.09 , 1.   , 0.25 , 1.   , 1.   ,
       1.5  , 1.   , 0.25 , 0.09 , 0.25 , 0.33 , 0.33 , 0.111, 0.25 ,
       1.   , 1.   , 1.   , 1.   , 0.076, 0.33 , 1.   , 1.   , 1.   ,
       1.   , 1.   , 1.   , 1.   , 0.25 , 0.076, 1.33 , 0.5  , 0.33 ,
       1.   , 0.076, 0.25 , 0.25 , 1.   , 1.   , 1.   , 0.33 , 0.09 ,
       0.111, 0.111, 0.25 , 1.   , 1.33 , 1.33 , 1.   , 0.09 , 0.25 ,
       0.25 , 1.   , 1.   , 1.5  , 0.33 , 1.   , 1.   , 1.25 , 0.25 ,
       1.   , 0.2  , 1.   , 0.25 , 0.111, 1.33 , 0.076, 1.   , 0.111,
       0.5  , 0.111, 0.111, 0.5  , 1.   , 0.25 , 1.   , 0.111, 1.   ,
       0.111, 1.   , 0.5  , 0.25 , 0.25 , 0.33 , 1.   , 0.5  , 1.   ,
       0.5  , 0.5  , 0.5  , 0.076, 0.5  , 0.5  , 1.   , 0.09 , 0.33 ,
       1.   , 0.5  , 1.   , 1.   , 0.2  , 1.   , 0.25 , 1.   , 0.25 ,
       1.   , 1.   , 1.33 , 1.   , 1.   , 1.   , 1.5  , 1.   , 1.   ,
       0.33 , 0.25 , 0.5  , 1.   , 2.   , 0.5  , 0.5  , 0.33 , 0.5  ,
       0.076, 1.   , 1.   , 0.25 , 0.25 , 0.25 , 0.5  , 1.   , 1.   ,
       1.   , 0.09 , 0.076, 0.5  , 1.   , 1.   , 1.   , 0.5  , 0.111,
       1.   , 0.25 , 1.   , 0.5  , 1.   , 1.   , 0.33 , 1.33 , 0.076,
       0.25 , 1.   , 1.   , 1.   , 0.111, 1.   , 0.5  , 0.076, 1.   ,
       1.   , 0.5  , 1.   , 0.33 , 1.   , 1.   , 0.111, 0.111, 0.5  ,
       0.25 , 1.25 , 0.33 , 0.5  , 0.5  , 0.111, 0.09 , 0.111, 0.25 ,
       0.076, 1.   , 2.5  , 0.33 , 0.5  , 1.   , 1.5  , 0.5  , 1.   ,
       2.5  , 0.5  , 1.   , 0.25 , 0.5  , 1.   , 0.5  , 1.   , 0.25 ,
       1.   , 1.25 , 0.5  , 0.5  , 1.   , 0.25 , 1.   , 1.   , 1.   ,
       1.   , 1.   , 0.25 , 0.25 , 0.25 , 0.5  , 1.   , 1.2  , 0.33 ,
       0.25 , 0.5  , 1.   , 0.09 , 2.   , 0.5  , 1.25 , 0.111, 0.25 ,
       1.   , 0.5  , 1.   , 1.   , 0.5  , 1.5  , 1.   , 1.25 , 1.   ,
       0.2  , 1.   , 1.   , 1.   , 1.   , 0.25 , 1.   , 0.5  , 1.   ,
       0.09 , 0.25 , 1.   , 1.   , 0.25 , 0.5  , 1.   , 0.25 , 0.33 ,
       1.   , 1.   , 1.   , 1.   , 0.25 , 0.111, 1.   , 1.   , 0.5  ,
       0.25 , 0.5  , 1.   , 0.09 , 0.25 , 1.   , 1.   , 1.   , 0.076,
       1.   , 1.   , 1.   , 2.   , 0.33 , 2.   , 0.5  , 0.5  , 1.   ,
       1.   , 1.   , 0.33 , 1.   , 2.   , 1.   , 1.   , 0.25 , 1.   ,
       2.   , 1.25 , 0.5  , 0.5  , 1.   , 0.5  , 1.   , 0.5  , 1.   ,
       0.5  , 0.5  , 0.5  , 0.111, 1.   ])

Let's check and do the same to the Silver column.

In [22]:
# check the Silver column incase there's mixed types
np.array(fixed_filtered_no_dups_df['Silver'].dropna())

array(['0.5', '0.5', '1', '1', '1', '1', '0.2', '0.5', '1', '1', '0.5',
       '2', '1.5', '1', '0.5', '1', '0.25', '0.076', '1', '1', '0.076',
       '0.5', '0.111', '0.5', '0.111', '0.5', '0.5', '0.25', '0.076',
       '0.5', '1', '1', '1', '0.111', '0.09', '0.09', '0.09', '0.5',
       '0.33', '0.111', '1', '0.25', '1', '0.5', '1', '1', '0.25', '1',
       '0.25', '0.5', '1', '1', '1', '0.5', '1', '0.25', '1', '1', '1',
       '0.25', '0.111', '1', '1.25', '0.25', '0.25', '0.111', '1', '1',
       '0.5', '0.25', '1', '0.25', '1', '1', '0.5', '0.33', '0.33',
       '0.111', '0.25', '1', '1', '1', '1', '0.5', '0.5', '1.25', '1',
       '1', '0.5', '0.25', '0.5', '0.33', '0.25', '1', '0.111', '1', '1',
       '1.25', '0.5', '0.5', '0.25', '1.33', '0.25', '1', '1', '1', '0.5',
       '1', '1', '1', '1', '0.33', '1', '1', '0.09', '0.5', '0.5', '0.5',
       '0.5', '0.25', '1', '0.5', '1', '0.25', '0.33', '0.33', '0.25',
       '1', '0.111', '1', '1', '0.33', '0.5', '0.076', '0.111', '1',
       '0.5', '0.33', '1', '0.5', '0.5', '1', '1', '1', '0.25', '0.25',
       '1', '1', '0.5', '0.5', '0.5', '0.25', '0.5', '0.33', '1', '0.33',
       '0.5', '0.25', '0.111', '0.2', 'LANGEHANENBERG', '0.33', '0.25',
       '1', '0.076', '0.076', '0.5', '0.111', '0.25', '1', '0.111', '1',
       '1', '1', '1', '0.076', '1', '0.5', '1', '0.5', '1', '0.076',
       '0.25', '0.111', '0.25', '1', '1', '1', '0.5', '0.25', '0.076',
       '0.25', '0.2', '1', '0.5', '0.076', '1', '0.5', '0.33', '0.25',
       '1', '0.5', '1.25', '1', '0.09', '1', '1', '0.33', '2', '1',
       '0.09', '0.5', '0.09', '0.111', '1', '0.5', '0.25', '1', '1', '1',
       '1', '0.2', '2', '1', '1', '1', '0.076', '1', '1', '0.5', '1',
       '0.5', '0.25', '0.076', '1', '1', '1', '0.111', '0.25', '0.33',
       '1', '0.5', '1', '0.5', '1', '1', '0.111', '0.25', '1', '0.25',
       '0.5', '0.076', '1', '1', '1', '1', '1.25', '0.33', '1.25', '1',
       '0.09', '0.5', '1', '1.33', '0.5', '0.5', '1', '0.5', '0.5', '1',
       '0.09', '1', '1.5', '1', '1', '1', '0.5', '1', '1', '1', '1',
       '0.25', '0.25', '0.25', '1', '1', '1', '1', '0.33', '0.25', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '0.111', '0.2',
       '0.25', '0.5', '0.25', '1', '1', '1', '2', '1', '0.09', '0.09',
       '0.33', '0.33', '0.5', '0.2', '0.25', '1'], dtype=object)

As we thought, we find a string value `LANGEHANENBERG`. Let's do the same as before to coerce the DataFrame correctly.

In [23]:
# drop non-numerics and replace the Silver column
fixed_filtered_no_dups_df2 = fixed_filtered_no_dups_df.copy()
fixed_filtered_no_dups_df2['Silver'] = pd.to_numeric(
    fixed_filtered_no_dups_df['Silver'], errors='coerce')
np.array(fixed_filtered_no_dups_df2['Silver'].dropna())

array([0.5  , 0.5  , 1.   , 1.   , 1.   , 1.   , 0.2  , 0.5  , 1.   ,
       1.   , 0.5  , 2.   , 1.5  , 1.   , 0.5  , 1.   , 0.25 , 0.076,
       1.   , 1.   , 0.076, 0.5  , 0.111, 0.5  , 0.111, 0.5  , 0.5  ,
       0.25 , 0.076, 0.5  , 1.   , 1.   , 1.   , 0.111, 0.09 , 0.09 ,
       0.09 , 0.5  , 0.33 , 0.111, 1.   , 0.25 , 1.   , 0.5  , 1.   ,
       1.   , 0.25 , 1.   , 0.25 , 0.5  , 1.   , 1.   , 1.   , 0.5  ,
       1.   , 0.25 , 1.   , 1.   , 1.   , 0.25 , 0.111, 1.   , 1.25 ,
       0.25 , 0.25 , 0.111, 1.   , 1.   , 0.5  , 0.25 , 1.   , 0.25 ,
       1.   , 1.   , 0.5  , 0.33 , 0.33 , 0.111, 0.25 , 1.   , 1.   ,
       1.   , 1.   , 0.5  , 0.5  , 1.25 , 1.   , 1.   , 0.5  , 0.25 ,
       0.5  , 0.33 , 0.25 , 1.   , 0.111, 1.   , 1.   , 1.25 , 0.5  ,
       0.5  , 0.25 , 1.33 , 0.25 , 1.   , 1.   , 1.   , 0.5  , 1.   ,
       1.   , 1.   , 1.   , 0.33 , 1.   , 1.   , 0.09 , 0.5  , 0.5  ,
       0.5  , 0.5  , 0.25 , 1.   , 0.5  , 1.   , 0.25 , 0.33 , 0.33 ,
       0.25 , 1.   , 0.111, 1.   , 1.   , 0.33 , 0.5  , 0.076, 0.111,
       1.   , 0.5  , 0.33 , 1.   , 0.5  , 0.5  , 1.   , 1.   , 1.   ,
       0.25 , 0.25 , 1.   , 1.   , 0.5  , 0.5  , 0.5  , 0.25 , 0.5  ,
       0.33 , 1.   , 0.33 , 0.5  , 0.25 , 0.111, 0.2  , 0.33 , 0.25 ,
       1.   , 0.076, 0.076, 0.5  , 0.111, 0.25 , 1.   , 0.111, 1.   ,
       1.   , 1.   , 1.   , 0.076, 1.   , 0.5  , 1.   , 0.5  , 1.   ,
       0.076, 0.25 , 0.111, 0.25 , 1.   , 1.   , 1.   , 0.5  , 0.25 ,
       0.076, 0.25 , 0.2  , 1.   , 0.5  , 0.076, 1.   , 0.5  , 0.33 ,
       0.25 , 1.   , 0.5  , 1.25 , 1.   , 0.09 , 1.   , 1.   , 0.33 ,
       2.   , 1.   , 0.09 , 0.5  , 0.09 , 0.111, 1.   , 0.5  , 0.25 ,
       1.   , 1.   , 1.   , 1.   , 0.2  , 2.   , 1.   , 1.   , 1.   ,
       0.076, 1.   , 1.   , 0.5  , 1.   , 0.5  , 0.25 , 0.076, 1.   ,
       1.   , 1.   , 0.111, 0.25 , 0.33 , 1.   , 0.5  , 1.   , 0.5  ,
       1.   , 1.   , 0.111, 0.25 , 1.   , 0.25 , 0.5  , 0.076, 1.   ,
       1.   , 1.   , 1.   , 1.25 , 0.33 , 1.25 , 1.   , 0.09 , 0.5  ,
       1.   , 1.33 , 0.5  , 0.5  , 1.   , 0.5  , 0.5  , 1.   , 0.09 ,
       1.   , 1.5  , 1.   , 1.   , 1.   , 0.5  , 1.   , 1.   , 1.   ,
       1.   , 0.25 , 0.25 , 0.25 , 1.   , 1.   , 1.   , 1.   , 0.33 ,
       0.25 , 1.   , 1.   , 1.   , 1.   , 1.   , 1.   , 1.   , 1.   ,
       1.   , 1.   , 0.111, 0.2  , 0.25 , 0.5  , 0.25 , 1.   , 1.   ,
       1.   , 2.   , 1.   , 0.09 , 0.09 , 0.33 , 0.33 , 0.5  , 0.2  ,
       0.25 , 1.   ])

In [24]:
# get a Pandas series, grouping rows by Country and getting the size of each group
country_group_medals = fixed_filtered_no_dups_df2.groupby('Country')[
    'Gold', 'Silver', 'Bronze'].sum().reset_index()
country_group_medals.sort_values(by=['Gold', 'Silver', 'Bronze'], ascending=False).head()

                        Country    Gold  Silver  Bronze
187    United States of America  33.825   23.98  22.000
139  People's Republic of China  30.500   16.99  15.000
70                Great Britain  23.970   13.75  10.999
146           Republic of Korea  11.980    5.00   4.990
68                      Germany  11.299   13.99  10.980

Note that the values are `float`s. This is because in the original data set some medals are proportioned between athletes in the case of winning medals in team sports.

### What is the average age, height, and weight for each country's olympic teams?

In [25]:
# Again, use a .groupby but this time use .mean() to get the averages
average_heights_and_weights_by_country = fixed_filtered_no_dups_df2.groupby('Country')[
    'Height (cm)', 'Weight (kg)'].mean().reset_index()
average_heights_and_weights_by_country.columns = ['Country', 'Average Height (cm)', 'Average Weight (kg)']
average_heights_and_weights_by_country.sample(5)

                 Country  Average Height (cm)  Average Weight (kg)
183               Uganda           170.187500            58.812500
159         Sierra Leone           176.000000            64.000000
28              Bulgaria           179.404255            73.255319
35        Cayman Islands           183.000000            78.800000
6    Antigua and Barbuda           176.666667            71.666667

### As per last question, but by Male and Female athletes.

In [26]:
# Again, use a .groupby but this time use .mean() to get the averages
average_heights_and_weights_by_sex = fixed_filtered_no_dups_df2.groupby('Sex')['Height (cm)', 'Weight (kg)'].mean().reset_index()
average_heights_and_weights_by_sex.columns = ['Sex', 'Average Height (cm)', 'Average Weight (kg)']
average_heights_and_weights_by_sex

  Sex  Average Height (cm)  Average Weight (kg)
0   F           170.639535            63.238248
1   M           182.908295            80.583449

### Finally, calculate the Body Mass Index for each athlete in the data set

In [27]:
# BMI is weight in kg divided by height in metres squared. Let's define a function 
# to calculate this. The DataFrame .apply() function (in the next cell) applies this
# function to each row in the DataFrame.

def calculate_bmi(row):
    return row['Weight (kg)'] / ( row['Height (cm)'] / 100) ** 2

In [28]:
# now we apply the function we defined above to the DataFrame, which returns 
# a new Series with the BMI values. We then add a new column with this to our
# full dataframe
fixed_filtered_no_dups_df3 = fixed_filtered_no_dups_df2.copy()
fixed_filtered_no_dups_df3['Body Mass Index'] = fixed_filtered_no_dups_df2.apply(calculate_bmi, axis=1)

In [29]:
# Let's just take a look at three columns, including BMI, for a sample of 5 athletes
fixed_filtered_no_dups_df3[['Name', 'Date of birth', 'Body Mass Index']].sample(5)

                  Name Date of birth  Body Mass Index
590       Ana Ivanovic    11/06/1987        21.718066
7770     Pius Schwizer     8/13/1962        21.224490
8915      Sofia Assefa    11/14/1987        18.778345
7364         Ola Sesay     5/30/1979        20.661157
6314  Martina Grimaldi     9/28/1988        21.971336

### Display the top 10 rows for male athletes

In [30]:
male_bmi_df = fixed_filtered_no_dups_df3[fixed_filtered_no_dups_df3['Sex'] == 'M']
male_bmi_df.sort_values(by='Body Mass Index', ascending=False).head(5)

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze,Body Mass Index
8024,Ricardo Blas Jr,Guam,25,185.0,218.0,M,10/19/1986,Judo,Men's +100kg,NaN,NaN,NaN,NaN,63.696129
3803,Ian Warner,Canada,22,170.0,160.0,M,5/15/1990,Athletics,Men's 4 x 100m Relay,NaN,NaN,NaN,NaN,55.363322
198,Akeem Haynes,Canada,20,168.0,150.0,M,03/11/1992,Athletics,Men's 4 x 100m Relay,NaN,NaN,NaN,NaN,53.146259
4000,Itte Detenamo,Nauru,25,170.0,140.0,M,9/22/1986,Weightlifting,Men's +105kg,NaN,NaN,NaN,NaN,48.442907
8465,Sang-Guen Jeon,Republic of Korea,31,183.0,158.0,M,2/28/1981,Weightlifting,Men's +105kg,NaN,NaN,NaN,NaN,47.179671

### Display the top 10 rows for female athletes

In [31]:
female_bmi_df = fixed_filtered_no_dups_df3[fixed_filtered_no_dups_df3['Sex'] == 'F']
female_bmi_df.sort_values(by='Body Mass Index', ascending=False).head(5)

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze,Body Mass Index
8991,Sparkle McKnight,Trinidad and Tobago,20,158.0,155.0,F,12/21/1991,Athletics,Women's 4 x 100m Relay,NaN,NaN,NaN,NaN,62.089409
3704,Holley Mangold,United States of America,22,173.0,154.0,F,12/22/1989,Weightlifting,Women's +75kg,NaN,NaN,NaN,NaN,51.455110
9680,Vanessa Zambotti,Mexico,30,175.0,145.0,F,03/04/1982,Judo,Women's +78kg,NaN,NaN,NaN,NaN,47.346939
1901,Claudia Carolina Fajardo Rodriguez,Honduras,26,160.0,117.0,F,9/26/1985,Shooting,Women's 10m Air Pistol,NaN,NaN,NaN,NaN,45.703125
5809,Lulu Zhou,People's Republic of China,24,175.0,131.0,F,19/03/1988,Weightlifting,Women's +75kg,YES,1.0,NaN,NaN,42.775510